<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMTCTService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="..."
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMTCTService"
                contract="MTCTService.IMTCTService" name="BasicHttpBinding_IMTCTService" />
        </client>
    </system.serviceModel>
  <appSettings>
    <add key="output_dir" value="C:\vm"/>
    <add key="method_1_output_file" value="CartaCircolazione.txt"/>
    <add key="method_2_output_file" value="Comproprietari.txt"/>
    <add key="error_suffix" value="Error"/>
    <add key="admin_name"   value="..."/>
    <add key ="admin_email" value="..."/>
    <add key="admin_mobile" value="..."/>
    
  </appSettings>
</configuration>